development:
  secret_key_base: BIG_KEY_BASE_SECRET
  meetup_key: MEETUP_KEY
  meetup_secret: MEETUP_KEY

test:
  secret_key_base: BIG_KEY_BASE_SECRET
  meetup_key: MEETUP_KEY
  meetup_secret: MEETUP_KEY

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  meetup_key: <%= ENV["SECRET_MEETUP_KEY"] %>
  meetup_secret: <%= ENV["SECRET_MEETUP_SECRET"] %>
